In [1]:
import pandas as pd

In [2]:
player1 = pd.Series([8.5, 7.9, 8.2, 7.6, 8.8, 7.4], index=["001", "002", "003", "004", "005", "006"])
player2 = pd.Series([9.0, 8.3, 8.6, 7.7, 8.9, 7.8], index=["001", "002", "003", "004", "005", "006"])
player3 = pd.Series([8.7, 8.1, 8.4, 7.9, 8.6, 7.3], index=["001", "002", "003", "004", "005", "006"])
df1 = pd.DataFrame({"选手1": player1, "选手2": player2, "选手3": player3})
df1

     选手1  选手2  选手3
001  8.5  9.0  8.7
002  7.9  8.3  8.1
003  8.2  8.6  8.4
004  7.6  7.7  7.9
005  8.8  8.9  8.6
006  7.4  7.8  7.3

In [3]:
df1.mean()

选手1    8.066667
选手2    8.383333
选手3    8.166667
dtype: float64

In [4]:
df1.mean(axis=1)

001    8.733333
002    8.100000
003    8.400000
004    7.733333
005    8.766667
006    7.500000
dtype: float64

In [5]:
def trim_mean(data):
    data_len = len(data)
    data_sum = data.sum()
    max_num = data.max()
    min_num = data.min()
    return (data_sum - max_num - min_num) / data_len

In [6]:
df1.apply(trim_mean)

选手1    5.366667
选手2    5.600000
选手3    5.500000
dtype: float64

In [7]:
df1.apply(trim_mean, axis=1)

001    2.900000
002    2.700000
003    2.800000
004    2.566667
005    2.933333
006    2.466667
dtype: float64

In [8]:
df1.applymap(lambda x: x + 5)

      选手1   选手2   选手3
001  13.5  14.0  13.7
002  12.9  13.3  13.1
003  13.2  13.6  13.4
004  12.6  12.7  12.9
005  13.8  13.9  13.6
006  12.4  12.8  12.3

In [9]:
df1.describe()

            选手1       选手2       选手3
count  6.000000  6.000000  6.000000
mean   8.066667  8.383333  8.166667
std    0.535413  0.549242  0.520256
min    7.400000  7.700000  7.300000
25%    7.675000  7.925000  7.950000
50%    8.050000  8.450000  8.250000
75%    8.425000  8.825000  8.550000
max    8.800000  9.000000  8.700000

In [12]:
df1["姓名"] = ["小陈", "小李", "小王", "小张", "小赵", "小周"]
df1

     选手1  选手2  选手3  姓名
001  8.5  9.0  8.7  小陈
002  7.9  8.3  8.1  小李
003  8.2  8.6  8.4  小王
004  7.6  7.7  7.9  小张
005  8.8  8.9  8.6  小赵
006  7.4  7.8  7.3  小周

In [11]:
df1.describe()

            选手1       选手2       选手3
count  6.000000  6.000000  6.000000
mean   8.066667  8.383333  8.166667
std    0.535413  0.549242  0.520256
min    7.400000  7.700000  7.300000
25%    7.675000  7.925000  7.950000
50%    8.050000  8.450000  8.250000
75%    8.425000  8.825000  8.550000
max    8.800000  9.000000  8.700000