In [1]:
import pandas as pd

**复习任务：将所有以“任务X”开头的单元格补全**

## 对索引和列名重命名（使用字典）

In [2]:
# 读取示例数据
df1 = pd.read_csv("example1.csv", index_col=0)

In [3]:
df1

   客户_姓名 客户 性别  age                    邮箱
1     李十     女   58  yVaQXekW@example.com
2_    冯三     男   27  LctXbrEM@example.com
3     吴十     男   32  UyTYBzUZ@example.com
4     王十     女   58  KCixgciF@example.com
_5    钱十     女   27  nqRBXOtA@example.com
6*    赵八     女   51  GyKwILAL@example.com

In [4]:
# 任务一：
# 把 df1 的索引进行重命名，具体为"2_"转换为"2", "_5"转换为"5", "6*"转换为"6"，其余不变

In [5]:
# 任务二：
# 把 df1 的列名进行重命名，具体为"客户_姓名"转换为"客户姓名", "客户 性别"转换为"客户性别", "age"转换为"客户年龄"，

In [6]:
# 此时 df1 的索引和列名应该已经被更新
df1

   客户_姓名 客户 性别  age                    邮箱
1     李十     女   58  yVaQXekW@example.com
2_    冯三     男   27  LctXbrEM@example.com
3     吴十     男   32  UyTYBzUZ@example.com
4     王十     女   58  KCixgciF@example.com
_5    钱十     女   27  nqRBXOtA@example.com
6*    赵八     女   51  GyKwILAL@example.com

## 对索引和列名重命名（使用方法/函数）

In [7]:
# 读取示例数据
df2 = pd.read_csv("example2.csv")
df2

         Date  Amount Salesperson       Location
0  2022-01-01    1000       Alice       New York
1  2022-01-02    1500         Bob  San Francisco
2  2022-01-03     800     Charlie       New York
3  2022-01-04    1200       David  San Francisco

In [8]:
# 任务三：把 df2 的列名全部转换为大写后进行输出（不需要改变 df2）

## 把某列设为索引

In [9]:
# 任务四：把 df2 的 Salesperson 列作为索引，然后把返回的新 DataFrame 赋值给 df3 后进行输出（不需要改变 df2）

## 重设索引

In [10]:
# 任务五：把 df3 的索引重设为默认的位置索引后进行输出（不需要改变 df3）

## 对索引和列名重新排序

In [11]:
# 读取示例数据
df4 = pd.read_csv("example3.csv", index_col=0)
df4

  客户姓名 客户性别  客户年龄                  客户邮箱
a   李十    女    58  yVaQXekW@example.com
c   冯三    男    27  LctXbrEM@example.com
b   吴十    男    32  UyTYBzUZ@example.com
e   王十    女    58  KCixgciF@example.com
d   钱十    女    27  nqRBXOtA@example.com
f   赵八    女    51  GyKwILAL@example.com

In [12]:
# 任务六：把 df4 的索引重新排序后进行输出（不需要改变 df4）